[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
"discord.py" = "*"
lavalink = "4.0.0"
psutil = "*"

[dev-packages]

[requires]
python_version = "3.8"
